{% extends 'base.html' %}

{% block title %}Blog Update{% endblock %}

{% load crispy_forms_tags %}

{% block main %}
    <div class="col-md-8">
        <h1 class="my-4">Update Blog</h1>
        <form method="post" action="{% url 'update_blog' object.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Update"/>
            <a class="btn btn-info" href="{% url 'blog_detail' object.id %}">Cancel</a>
        </form>
    </div>
{% endblock %}
