{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% load crispy_forms_tags %}

{% block main %}
    <div class="col-md-8">
        <h1 class="my-4">
            Change Password
        </h1>

        <form method="post" action="{% url 'change_password' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ change_password_form|crispy }}
            <a class="btn btn-outline-dark" href="{% url 'profile_detail' request.user.profile.id %}">Back</a>
            <input type="submit" class="btn btn-outline-danger" value="Update Password"/>
        </form>
    </div>
{% endblock %}
