{% extends 'base.html' %}

{% block title %}SignUp{% endblock %}

{% load crispy_forms_tags %}

{% block main %}
    <div class="col-md-8">
        <h1 class="my-4">Sign Up</h1>
        <form method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ user_profile_form|crispy }}
            <input type="reset" class="btn btn-dark" value="Reset">
            <input type="submit" class="btn btn-primary" value="SignUp"/>
        </form>
    </div>
{% endblock %}

